.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark);
}

.mobile-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--clr-dark);

}